@font-face {
  font-family: 'Gilroy';
  src: url('../../public/fonts/Gilroy-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../public/fonts/Gilroy-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../public/fonts/Gilroy-Bold.ttf') format('ttf');
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #6a0dad;
  --secondary-color: #5a0b8f;
  --text-color: #000000;
  --background-color: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}